* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark Mode SASS*/
/* Dark Mode SASS*/
h1 {
  color: #35465c;
  font-weight: 600;
  font-size: 3rem;
}

h2 {
  color: #35465c;
  font-weight: 500;
}

h3 {
  font-size: xx-large;
  color: #35465c;
  font-weight: 600;
  opacity: 0.8;
}

p {
  color: #426696;
  opacity: 0.5;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #e7c3e1, #ddb6d3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode .glass {
  background: linear-gradient(to right top, #17052b, #878b9e);
}
.dark-mode .button {
  background: linear-gradient(to right top, #17052b, #878b9e);
}
.dark-mode .button h2 {
  color: #ffffff;
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3 {
  color: #ffffff;
}
.dark-mode p {
  color: #1e1e1f;
}
.dark-mode main {
  background: linear-gradient(to right bottom, #17052b, #878b9e);
}

button {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-left: 14px;
  background: transparent;
  border: none;
  outline: none;
}

.glass {
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom, rgba(220, 139, 245, 0.7), rgba(221, 201, 223, 0.3));
  border-radius: 2rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  display: flex;
}

.circle1,
.circle2 {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.skill-sets {
  flex: 2;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
}

.user {
  padding-top: 10px;
  font-size: larger;
}
.user img {
  border-radius: 10rem;
  border: 4px solid black;
}

.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right top, rgba(220, 139, 245, 0.7), rgba(238, 181, 243, 0.3));
  border-radius: 2rem;
  padding: 1rem;
  margin-bottom: 20px;
}
.button h2 {
  width: 40%;
  color: #35465c;
  font-weight: 600;
}

.card {
  display: flex;
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: start;
}

.card-info {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  padding-left: 50px;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=style.css.map */